@import "../mixins/global.scss";

// .container {
//   height: 100vh;
//   width: 100%;
//   @include flex($align: center, $justify: space-evenly);
//   padding: 3rem;
//   gap: 3rem;
//   background: url("../images/background.svg") no-repeat;
// }

// .left {
//   width: 30%;
//   border-radius: 50%;
//   // overflow: hidden;
//   img {
//     border-radius: 50%;
//   }
// }

.right {
  @include flex($align: center, $justify: center, $direction: column);
  gap: 4rem;
  h1 {
    font-size: 3em;
    text-transform: capitalize;
  }
  p {
    max-width: 60%;
  }
}

h1 {
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 101px;
  letter-spacing: 0.3em;

  span {
    color: rgba(247, 61, 147, 1);
  }
}

.videoWrapper {
  width: 100%;
  height: 60%;
  @include flexCenter;
  margin: 3rem 0;

  iframe {
    width: 60%;
    height: 100%;
  }
}

.products {
  // background: url("../images/foot.svg");
  // background-repeat: no-repeat;
  background: linear-gradient(0deg, #b8ff80 -4.22%, #d5ffb5 100%, #d6ffb5 100%);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem;

  h1 {
    text-align: center;
    font-family: "Pathway Gothic One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 101px;
    letter-spacing: 0.3em;

    span {
      color: rgba(247, 61, 147, 1);
    }
  }
}

.productList {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 5rem 2rem;
}

.container {
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  height: 100vh;
  gap: 3rem;
  padding: 13rem;

  @include flex(column, center, center);
  // position: relative;

  .top {
    @include flex($align: center);
    width: 100%;

    h1 {
      font-family: "Pathway Gothic One", sans-serif;
      font-size: 13em;
      // background: red;
      // letter-spacing: 0.1em;
    }

    img {
      width: 250px;
      height: 250px;
    }
  }
}

.content {
  @include flex(row, space-between, center);
  width: 100%;
}

.left {
  p {
    font-size: 1.8em;
    font-weight: 100;
    line-height: 1.5em;
  }
}
